/* General Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Poppins', sans-serif;
    background: linear-gradient(135deg, #2D3436, #000);
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #FFFFFF;
    overflow: hidden;
}

.container {
    background: rgba(255, 255, 255, 0.15);
    backdrop-filter: blur(20px);
    border-radius: 15px;
    padding: 30px;
    max-width: 400px;
    box-shadow: 0 8px 32px rgba(31, 38, 135, 0.37);
    z-index: 1;
}

h1 {
    font-size: 1.8em;
    text-align: center;
    margin-bottom: 20px;
    text-shadow: 1px 1px 5px rgba(0, 0, 0, 0.5);
}

#new-task {
    width: 70%;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    font-size: 1em;
    margin: 0 auto;
}

#add-task-btn {
    background-color: #6C5CE7;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 10px 15px;
    font-size: 1em;
    cursor: pointer;
    box-shadow: 0 3px 8px rgba(0, 0, 0, 0.3);
    transition: transform 0.3s, box-shadow 0.3s;
}

#add-task-btn:hover {
    transform: scale(1.1);
    box-shadow: 0 5px 15px rgba(108, 92, 231, 0.4);
}

#task-list {
    list-style: none;
    margin-top: 20px;
}

/* 3D Orbs */
.modern-background {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    z-index: -1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.orb {
    position: absolute;
    background: linear-gradient(180deg, #6C5CE7, #B782F0);
    width: 200px;
    height: 200px;
    border-radius: 50%;
    filter: blur(100px);
    animation: float 5s infinite alternate ease-in-out;
}

.orb:nth-child(2) {
    animation: float 6s infinite ease-in-out;
    transform: translate(-300px, -150px);
    width: 160px;
    height: 160px;
    background: linear-gradient(180deg, #55EFC4, #00CEC9);
}

.orb:nth-child(3) {
    animation: float 7s infinite alternate ease-in-out;
    transform: translate(300px, 150px);
    width: 120px;
    height: 120px;
    background: linear-gradient(180deg, #FF7675, #D63031);
}

@keyframes float {
    0% {
        transform: translateY(0);
    }
    100% {
        transform: translateY(-30px) scale(1.1);
    }
}